.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    /*background-color: #ee7023;*/
    background: linear-gradient(to right, #FA7F25 0%, #FDBE13 100%);
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    width: 100%;
    max-width: 1200px;
    color: #ffffff;
    font-weight: bold;
}

a { color: #ffffff; }

.logo a{
    padding: 10px;
    font-size: 24px;
}

.logo :hover {
    background-color: #f4ba44;
    cursor: pointer;
}

.links {
    display: flex;
    font-size: 14px;
    color: #ffffff;
}

.links li { padding: 10px; }

.links :hover {
    background-color:  #f4ba44;
    cursor: pointer;
}

@media only screen and (min-width: 425px) {
    nav { height: 100px; }

    .logo a { font-size: 30px; }

    .links { font-size: 18px; }

    .nav-container { padding: 10px 20px; }
}