.question-wrapper {
    padding: 10px;
    height: 100%;
    color: #512b2b;
    line-height: 1.7rem;
}

.text-wrapper {
    margin: 20px 10px;
}

.radio-wrapper {
    margin: 20px 10px 20px;
}

.radio-wrapper label {
    padding-left: 10px;
}

.description {
    font-size: 14px;
    padding-left: 20px;
    font-style: italic;
}


@media only screen and (min-width: 425px) {

    .question-wrapper {
        padding: 10px 40px;
    }

    .text-wrapper {
        margin: 20px 0;
    }

    .description {
        padding-left: 40px;
    }

    .radio-wrapper {
        margin: 20px 40px 20px;
    }

    .description {
        font-size: 16px;
    }
}