.question-wrapper {
    padding: 10px;
    height: 100%;
    color: #512b2b;
    line-height: 1.7rem;
}


.text-wrapper {
    padding: 20px 10px;
}

.list {
    padding-left: 10px;
    list-style: '\2714';
}

.ul {
    padding-left: 20px;
}

@media only screen and (min-width: 425px) {

    .ul {
        padding-left: 40px;
    }

    .question-wrapper {
        padding: 10px 40px;
    }

    .text-wrapper {
        padding: 20px 0;
    }
}
