.stepper-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 10px;
    width: 100%;
    max-width: 1200px;
    min-height: 80px;
}

.stepper-item-container {
    display: flex;
    flex: 1;
    align-items: center;
}

.stepper-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    min-width: 40px;
    background-color: #ee7023;
    border-radius: 20px;
    font-weight: bold;
    color: #ffffff;
}

.stepper-divider-bar {
    display: flex;
    background-color: #512b2b;
    width: 100%;
    min-width: 2px;
    height: 2px;
}

.stepper-item-container:last-child { max-width: 40px; }

.stepper-item-container:last-child .stepper-divider-bar{ display: none; }

.stepper-wrapper:first-child { margin-left: 0; }

.stepper-wrapper:last-child { margin-right: 0; }

.stepper-hide-long { display: none; }

.stepper-active { background-color: #f4ba44; }

/*adjust min-width if more steps are added*/
@media only screen and (min-width: 720px) {
    .stepper-hide-short { display: none; }

    .stepper-hide-long {
        display: flex;
        min-width: 100px;
    }

    .stepper-item-container:last-child { max-width: 100px; }

}